---
layout: default
title: Mike Raimondi
nav_active: home
---
<div class="row">
  <div class="large-12 columns">
    <h2 class="hide-for-small" id="front-page-name"><span class="first-name">mike</span> <span class="last-name">raimondi</span></h2>
    <h3 class="tagline subheader hide-for-small">full-stack web developer</h3>
    <div class="tagline-small-container">
      <h3 class="tagline-small subheader show-for-small">full-stack</h3>
      <h3 class="tagline-small subheader show-for-small">web developer</h3>
    </div>
  </div>
</div>
<div class="row hide-for-small">
  <div class="large-12 columns">
    <ul class="button-group even-4 social">
      <li><a class="button github-main-page icon-github-circled-1" href="https://github.com/chronophasiac" target="_blank">github</a></li>
      <li><a class="button twitter-main-page icon-twitter" href="https://twitter.com/chronophasiac" target="_blank">twitter</a></li>
      <li><a class="button linkedin-main-page icon-linkedin" href="http://www.linkedin.com/in/mikerraimondi" target="_blank">linkedin</a></li>
      <li><a class="button facebook-main-page icon-facebook" href="https://www.facebook.com/chronophasiac" target="_blank">facebook</a></li>
    </ul>
  </div>
</div>
<div class="row show-for-small">
  <div class="small-12 columns">
    <ul class="button-group even-2 social">
      <li><a class="button github-main-page icon-github-circled-1" href="https://github.com/chronophasiac" target="_blank">github</a></li>
      <li><a class="button twitter-main-page icon-twitter" href="https://twitter.com/chronophasiac" target="_blank">twitter</a></li>
      <li><a class="button linkedin-main-page icon-linkedin" href="http://www.linkedin.com/in/mikerraimondi" target="_blank">linkedin</a></li>
      <li><a class="button facebook-main-page icon-facebook" href="https://www.facebook.com/chronophasiac" target="_blank">facebook</a></li>
    </ul>
  </div>
</div>
{% for post in paginator.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date | date_to_long_string }}</span>
  </p>
  <h4><a href="{{ post.url }}#disqus_thread"></a></h4>
  <div class="excerpt">
    {{ post.excerpt }}
  </div>
  <h4><a href="{{ post.url }}">More</a></h4>
{% endfor %}

{% if paginator.total_pages > 1 %}
<ul class="pagination">
  {% if paginator.previous_page %}
    <li class="arrow"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a></li>
  {% else %}
    <li class="arrow unavailable"><a href="">&laquo;</a></li>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <li class="current"><a href="">{{ page }}</a></li>
    {% elsif page == 1 %}
      <li><a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
    {% else %}
      <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <li class="arrow"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a></li>
  {% else %}
    <li class="arrow unavailable"><a href="">&raquo;</a></li>
  {% endif %}
</div>
{% endif %}

<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'mikeraimondi'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
