<header>
  <a href="{{ include.post.url }}">
    <h2 class="color-{{ include.post.excerpt | number_of_words | modulo:5 }}" itemprop="headline">{{ include.post.title }}</h2>
  </a>
  <h4 class="subheader" itemprop="description">{{ include.post.description }}</h2>
  <h6 class="subheader"><i class="fi-clock"></i><time pubdate itemprop="datePublished" datetime="{{ include.post.date | date_to_xmlschema }}" content="{{ include.post.date | date_to_xmlschema }}">{{ include.post.date | date_to_long_string }}</time></h6>
</header> 
