<li><a class="button github-main-page" href="https://github.com/mikeraimondi" target="_blank"><i class="fi-social-github"></i>github</a></li>
<li><a class="button twitter-main-page" href="https://twitter.com/chronophasiac" target="_blank"><i class="fi-social-twitter"></i>twitter</a></li>
<li><a class="button linkedin-main-page" href="http://www.linkedin.com/in/mikerraimondi" target="_blank"><i class="fi-social-linkedin"></i>linkedin</a></li>
<li><a class="button facebook-main-page" href="https://www.facebook.com/chronophasiac" target="_blank"><i class="fi-social-facebook"></i>facebook</a></li>
