<li>
  <a class="button github-main-page {{ include.classes }}" href="https://github.com/mikeraimondi" target="_blank">
    <i class="fi-social-github"></i>
    {% if include.text == "true" %}
      github
    {% endif %}
  </a>
</li>
<li>
  <a class="button twitter-main-page {{ include.classes }}" href="https://twitter.com/chronophasiac" target="_blank">
    <i class="fi-social-twitter"></i>
    {% if include.text == "true" %}
      twitter
    {% endif %}
  </a>
</li>
<li>
  <a class="button linkedin-main-page" href="http://www.linkedin.com/in/mikerraimondi" target="_blank">
    <i class="fi-social-linkedin"></i>
    {% if include.text == "true" %}
      linkedin
    {% endif %}
  </a>
</li>
<li>
  <a class="button facebook-main-page" href="https://www.facebook.com/chronophasiac" target="_blank">
    <i class="fi-social-facebook"></i>
    {% if include.text == "true" %}
      facebook
    {% endif %}
  </a>
</li>
