---
layout: none
---
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mike Raimondi</title>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url}}/feed.xml">
    <link rel="stylesheet" href="/css/app.css" />
    <script src="/js/modernizr.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ['Ubuntu', 'Open Sans:300italic,300,400,600', 'Inconsolata:400']
        }
      });
    </script>
  </head>
  <body itemscope itemtype="http://schema.org/WebPage">
  <div class="row">
    <div class="show-for-medium-up medium-3 columns">
      <nav class="side-nav">
        {% unless page.home_active == 'active' %}
          <li><a id="side-nav-name" href="/"><span class="first-name">mike</span> <span class="last-name">raimondi</span></a></li>
        {% endunless %}
        <li class="{{ page.about_active }}"><a href="/about">about</a></li>
        <li class="{{ page.contact_active }}"><a href="/contact">contact</a></li>
        <li><a href="/feed.xml" target="_blank">rss</a></li>
        {% unless page.home_active == 'active' %}
          <li>
            <ul class="button-group even-2 social">
              {% include social_buttons.html classes="expand" %}
            </ul>
          </li>
        {% endunless %}
      </nav>
    </div>
    <nav class="show-for-small-only top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="/" id="top-nav-name"><span class="first-name">mike</span> <span class="last-name">raimondi</span></a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="{{ page.home_active }}"><a href="/">home</a></li>
          <li class="{{ page.about_active }}"><a href="/about">about</a></li>
          <li class="{{ page.contact_active }}"><a href="/contact">contact</a></li>
          <li><a href="/feed.xml" target="_blank">rss</a></li>
        </ul>
      </section>
    </nav>
    <div class="small-12 medium-9 columns">
      {{ content }}
    </div>
  </div>
  <footer class="row">
    <h4 class="footer-email"><span class="email-footer-part">mike</span>at<span class="email-footer-part">mikeraimondi</span>dot<span class="email-footer-part">com</span></h4>
  </footer>
  <script src="/js/app.min.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40708916-3', 'mikeraimondi.com');
    ga('send', 'pageview');

  </script>
  </body>
</html>
